<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="website.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>


</head>

<body class="bg-black">

    <header class="flex">



        <span class="mr-auto flex justify-center items-center pl-2"><img class="h-20"
                src="https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg" />




            <div class="overflow-hidden ml-2 pl-5 flex">
                <button class="w-full text-base text-gray-100 m-0">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mt-12 hidden absolute bg-purple-900 ">
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 1</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 2</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 3</a>
                </div>
            </div>
            <div class="overflow-hidden ml-2 pl-5 flex">
                <button class="w-full text-base text-gray-100 m-0">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mt-12 hidden absolute bg-purple-900 ">
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 1</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 2</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 3</a>
                </div>
            </div>
            <div class="overflow-hidden ml-2 pl-5 flex">
                <button class="w-full text-base text-gray-100 m-0">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mt-12 hidden absolute bg-purple-900 ">
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 1</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 2</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 3</a>
                </div>
            </div>
            <div class="overflow-hidden ml-2 pl-5 flex">
                <button class="w-full text-base text-gray-100 m-0">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mt-12 hidden absolute bg-purple-900 ">
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 1</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 2</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 3</a>
                </div>
            </div>
            </div>
            <div class="overflow-hidden ml-2 pl-5 flex">
                <button class="w-full text-base text-gray-100 m-0">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="mt-12 hidden absolute bg-purple-900 ">
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 1</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 2</a>
                    <a class="text-white no-underline block text-left bg-blue-900" href="#">Link 3</a>
                </div>
            </div>

            <form class="bg-gray-700 w-48 h-10 rounded flex items-center ml-5 mt-5 " id="form" role="search">
                <input class="text-gray-400 h-full w-full" type="search" id="query" name="q" placeholder=" Search...  "
                    aria-label="Search through site content">
                <button class="cursor-pointer w-10 h-10"><svg class="text-gray-500 fill-current w-10 h-10 p-2"
                        viewBox="0 0 1024 1024">
                        <path class="path1"
                            d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                        </path>
                    </svg></button>




    </header>

    <nav class="bg-gray-500 flex">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    </button>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">

                            <a href="#" class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-sm font-medium"
                                aria-current="page">One</a>

                            <a href="#"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium ">Two</a>

                            <a href="#"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Three</a>

                            <a href="#"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Four</a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                </div>
            </div>
        </div>
        </div>


    </nav>





    <div class="grid p-2 bg-black mt-40 ml-24 mr-24 mb-12">
        <div class="col-start-1 col-end-3 row-start-1 row-end-3"><a href="https://www.nasa.gov/"> <img
                    class="w-full object-cover"
                    src="https://upload.wikimedia.org/wikipedia/commons/c/cb/The_Blue_Marble_%28remastered%29.jpg"
                    alt=""></a>
        </div>
        <div class="item2"> <a href="https://www.nasa.gov/"> <img class="w-full h-full object-cover"
                    src="https://i.guim.co.uk/img/media/3791030db32e5695b500b68e88356691fca37361/0_54_3500_2101/master/3500.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=5257ad7f5d7374b024b8e16b2e55acf6"
                    alt=""></a></div>
        <div class="item3"> <a href="https://www.nasa.gov/"> <img class="w-full h-full object-cover"
                    src="https://cdn.mos.cms.futurecdn.net/5wP8tRvTwKs6pvboATewik-1200-80.png" alt=""></a></div>
        <div class="col-start-1 col-end-2 row-start-4 row-end-4"> <a href="https://www.nasa.gov/"> <img
                    class="w-full object-cover"
                    src="https://mars.nasa.gov/system/content_pages/main_images/79_mars_globe-web.jpg" alt=""></a></div>
        <div class="col-start-1 col-end-2 row-start-3 row-end-3"> <a href="https://www.nasa.gov/"> <img
                    class="w-full h-full object-cover"
                    src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lone-astronaut-in-spacesuit-standing-on-the-moon-royalty-free-image-1670234827.jpg?crop=0.502xw:1.00xh;0.255xw,0&resize=1200:*"
                    alt=""></a></div>
        <div class="col-start-2 col-end-4 row-start-3 row-end-3"> <a href="https://www.nasa.gov/"> <img
                    class="w-full h-full object-cover"
                    src="https://www.e-ir.info/wp-content/uploads/2021/10/shutterstock_1453899434.jpg" alt=""></a></div>
        <div class="col-start-3 col-end-5 row-start-3 row-end-2"> <a href="https://www.nasa.gov/"> <img
                    class="w-full h-full object-cover"
                    src="https://media.wired.com/photos/5b33d691b63f39453cf64772/master/w_2560%2Cc_limit/jameswebb.jpg"
                    alt=""></a></div>
        <div class="col-start-4 col-end-5 row-start-3 row-end-3"> <a href="https://www.nasa.gov/"> <img
                    class="w-full h-full object-cover"
                    src="https://thumbs.dreamstime.com/b/vit-robot-som-anv%C3%A4nder-d-rendering-av-digitalt-artificiellt-intellektuellt-huvud-p%C3%A5-suddig-bakgrund-med-165105338.jpg"
                    alt=""></a></div>
        <div class="col-start-2 col-end-2 row-start-4 row-end-4"> <a href="https://www.nasa.gov/"> <img
                    class="w-full h-full object-cover"
                    src="https://cdn.defenseone.com/media/img/cd/2020/05/06/3362936/route-fifty-lead-image.jpg?1627426756"
                    alt=""></a></div>
        <div class="col-start-3 col-end-3 row-start-4 row-end-4"><a href="https://www.nasa.gov/"><img
                    class="w-full h-full object-cover"
                    src="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2012/02/maser-11_launch/9744827-3-eng-GB/Maser-11_launch_pillars.jpg"
                    alt=""></a></div>
        <div class="col-start-4 col-end-4 row-start-4 row-end-4"> <a href="https://www.nasa.gov/"> <img
                    class="w-full h-full object-cover"
                    src="http://www.nasa.gov/sites/default/files/thumbnails/image/iss_progress_advisory1.jpg"
                    alt=""></a></div>
    </div>




    <div class="bg-black text-blue-700">
        <footer>
            <div class="container_1">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <span class="logo-container-1"><img class="logo"
                                src="https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg" />
                            <h3 class="mt-0 font-bold text-sm ml-8 text-gray-500">Nasa <p>
                                    National Aeronautics and Space Administration NASA Official: Brian Dunbar
                                </p>
                            </h3>

                            <ul class="p-0 text-sm mb-0">
                                <li class="mr-24 float-right text-indigo-600"><a class="no-underline"
                                        href="https://www.nasa.gov/">Our second website news</a></li>
                            </ul>
                    </div>

                    <ul class="p-0 text-sm mb-0">
                        <li class="mr-24 float-right text-indigo-600"><a class="no-underline"
                                href="https://www.nasa.gov/">Company asscociations</a></li>
                    </ul>

                    <ul class="p-0 text-sm mb-0">
                        <li class="mr-24 float-right text-indigo-600"><a class="no-underline"
                                href="https://www.nasa.gov/"> Articles </a></li>
                    </ul>
                    <ul class="p-0 text-sm mb-0">
                        <li class="mr-24 float-right text-indigo-600"><a class="no-underline"
                                href="https://www.nasa.gov/">Uppcoming technologies</a></li>
                    </ul>

                    <ul class="p-0 text-sm mb-0">
                        <li class="mr-24 float-right text-indigo-600"><a class="no-underline"
                                href="https://www.nasa.gov/">Job oppuruniteis and carrer</a></li>
                    </ul>







                </div>
        </footer>
    </div>

</body>

</html>